[submodule "docker-lineage-cicd"]
	path = docker-lineage-cicd
	url = https://github.com/lineageos4microg/docker-lineage-cicd
[submodule "docker-lineage-ota"]
	path = docker-lineage-ota
	url = https://github.com/julianxhokaxhiu/lineageota
[submodule "docker-lineageos-monitor"]
	path = docker-lineageos-monitor
	url = https://github.com/gta98/docker-lineageos-monitor
